@using System.Linq
@using PowerSite.DataModel
@inherits  RazorEngine.Templating.TemplateBase<System.Collections.Generic.IEnumerable<Document>>
@{
	Layout = "BlogLayout.cshtml";
	ViewBag.Author = Site.Current.Author.Name;
	ViewBag.Title = Site.Current.Author.Name + "'s Blog - " + Site.Current.Title;
}

@foreach (var blog in Model)
{
	<div class="blog-post">
		<a href="/@blog.RelativeUrl"><h2 class="blog-post-title">@blog.Title</h2></a>
		<p class="blog-post-meta">@blog.Date.ToString("d") by <a href="#">@blog.Author.Name</a></p>
		@Raw(blog.Summary)
	</div>
}
